{% extends 'base.html' %}
{% load static %}

{% block content %}

{% if form.errors %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong> There was an error with your form ...
        {{form.errors}}
    </strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
<div class="shadow p-4 mb-5 bg-body rounded">


    <h3>Defina a nova senha.</h3>


    <p>Em alguns instantes, no e-mail informado, você receberá um link para cadastrar sua nova senha.</p>
    
    <p>Por favor, além da sua caixa de entrada principal, confira sua caixa de spam e promoções.</p>
    
</div>

{% endblock %}