{% extends 'base.html' %}


{% block content %}
{% load static %}


       
  {% if user.is_authenticated %}

  <h2>Turma</h2>
  <br>
  <form action="" method="POST">
    {% csrf_token %}
    <div class="row g-3">
        <div class="col-auto">
            <strong>Sua turma tem um nome?</strong>
        </div>
        <div class="col-auto">
           <h2> <input type="Text" class="form-control form-control-sm"  name="turma_name" value="{{turma_data.turma_name}}"></h2>
        </div>    
    </div>

  <div class="card">
    <div class="card-header" style="background-color:  #A2D2FF;">
        <strong> Quem é sua turma?</strong>      
    </div>
    <div class="card-body">
        <h5 class="card-title"></h5>
        <ul style="list-style: none;">
                <li class="row g-3">
                    <div class="col-auto ">
                        <strong>Genero &nbsp</strong>
                    </div>
                    <div class="col-auto">
                        <input type="Text" class="form-control form-control-sm"  name="turma_genero" value="{{turma_data.turma_genero}}">
                    </div> 
                </li>
                <br>
                <li class="row g-3">
                    <div class="col-auto">
                        <strong>Faixa Etária &nbsp</strong>
                    </div>
                    <div class="col-auto">
                        <input type="Text" class="form-control form-control-sm"  name="turma_idade" value="{{turma_data.turma_idade}}">
                    </div> 
                </li>
                <br>
                <li class="row g-3">
                    <div class="col-auto">
                        <strong>Renda &nbsp</strong>
                    </div>
                    <div class="col-auto">
                        <input type="Text" class="form-control form-control-sm" name="turma_renda" value="{{turma_data.turma_renda}}">
                    </div> 
                </li>
                <br>
                <li class="row g-3">
                    <div class="col-auto">
                        <strong>Ponto de Conexão social &nbsp</strong>
                    </div>
                    <div class="col-auto">
                        <input type="Text" class="form-control form-control-sm"  name="turma_status" value="{{turma_data.turma_status}}">
                    </div> 
                </li>
                <br>
                <li class="row g-3">
                    <div class="col-auto">
                        <strong>O que querem? &nbsp</strong> (uma palavra ou frase) &nbsp
                    </div>
                    <div class="col-auto">
                        <input type="Text" class="form-control form-control-sm"  name="turma_o_que_querem" value="{{turma_data.turma_o_que_querem}}">
                    </div> 
                </li>
            </ul>
        </p>
    </div>
    <div class="card-footer text-muted">
      <!-- <a class="btn btn-outline-info" href="{% url 'add-conjunto' %}"
      class="btn btn-outline-danger" >Adicionar Conjunto</a> -->
    </div>
</div>
<br>

<div class="card">
    <div class="card-header" style="background-color:  #A2D2FF;">
        <strong> PRR </strong>  (Problemas Reais e Rotineiros)
    </div>
    <div class="card-body">
        <h5 class="card-title"></h5>
            <ul style="list-style: none;">
                <li><strong>Lista de problemas simples e diários &nbsp</strong>
                    <textarea  type="Text" class="form-control form-control-sm" rows="1" name="turma_lista_de_problemas" >{{turma_data.turma_lista_de_problemas}}</textarea>
                </li>
                <br>
                <li><strong>Em relação ao PRR, aprofunde e encontre gatilhos:</strong></li>
                <br>
                <li><strong>Quando?</strong>
                    <textarea  type="Text" class="form-control form-control-sm" rows="1" name="turma_quando" >{{turma_data.turma_quando}}</textarea>
                </li>
                <br>
                <li><strong>Como?</strong>
                    <textarea  type="Text" class="form-control form-control-sm" rows="1" name="turma_como" >{{turma_data.turma_como}}</textarea>
                </li>
                <br>
                <li><strong>Onde?</strong>
                    <textarea  type="Text" class="form-control form-control-sm" rows="1" name="turma_onde" >{{turma_data.turma_onde}}</textarea>
                </li>
                <br>
                <li><strong>O que?</strong>
                    <textarea  type="Text" class="form-control form-control-sm" rows="1" name="turma_o_que" >{{turma_data.turma_o_que}}</textarea>
                </li>
                <br>
                <li><strong>Quem?</strong>
                    <textarea  type="Text" class="form-control form-control-sm" rows="1" name="turma_quem" >{{turma_data.turma_quem}}</textarea>
                </li>
                <br>
                <li><strong>Por que?</strong>
                    <textarea  type="Text" class="form-control form-control-sm" rows="1" name="turma_por_que" >{{turma_data.turma_por_que}}</textarea>
                </li>
            </ul>
        </p>
    </div>
    <div class="card-footer text-muted">
      <!-- <a class="btn btn-outline-info" href="{% url 'add-conjunto' %}"
      class="btn btn-outline-danger" >Adicionar Conjunto</a> -->

    </div>
</div>
<br>

<div class="card">
    <div class="card-header" style="background-color:  #A2D2FF;">
        <strong> Céu e Inferno</strong>      
    </div>
    <div class="card-body">
        <h5 class="card-title"></h5>
        <ul style="list-style: none;">
            <li><strong>Dream’s List &nbsp</strong> Pequenos e grandes sonhos.
                <textarea  type="Text" class="form-control form-control-sm" rows="1" name="turma_dreams_list" >{{turma_data.turma_dreams_list}}</textarea>
            </li>
            <br>
            <li><strong>Stuck’s List &nbsp</strong> Desculpas e barreiras 
                <textarea  type="Text" class="form-control form-control-sm" rows="1" name="turma_stucks_list" >{{turma_data.turma_stucks_list}}</textarea>
            </li>
                
        </p>
    </div>
    <div class="card-footer text-muted">
      <!-- <a class="btn btn-outline-info" href="{% url 'add-conjunto' %}"
      class="btn btn-outline-danger" >Adicionar Conjunto</a> -->

    </div>
</div>
<br>
<div>
    <input type="submit" value="Salvar" class="btn btn-secondary">
</div>


</form>
<p></p>
    

{% endif %}
{% endblock %}

